<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @dataset.app_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dataset.name %>
</p>

<%= link_to 'Edit', edit_app_dataset_path(@app, @dataset) %> |
