<h1><%= @app.name %></h1>
<%= link_to 'Edit', edit_app_path(@app) %>
<div id='app'>

  <h2>Datasets</h2>
  <turbo-frame id='datasets' src="<%= app_datasets_path(@app) %>">
  </turbo-frame>
</div>
<hr/>
<%= link_to 'Back', apps_path %>
