<turbo-frame id='data_entries_table'>
  <% headers = @data_entries.map(&:data).map(&:keys).flatten.uniq.sort %>
  <table>
    <thead>
      <tr>
        <% headers.each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody id='data_entries'>
      <%= turbo_stream_from [ @dataset, :data_entries ] %>
      <% @data_entries.each do |data_entry| %>
        <%= render data_entry %>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
